/* html[data-debug] [class*=col]::after{
    background-color: rgba(0, 166, 255, 1);
    color: white;
    display:block;
    content: '';
    height: 100%;
    padding: .5rem .75rem;
    box-sizing:border-box;
}
html[data-debug] [class*=col]:nth-of-type(2n)::after{
    background-color: rgba(255, 0, 68, 1);
    color: white;
    content: '';
    display:block;
    height: 100%;
    padding: .5rem .75rem;
    box-sizing:border-box;
} */



.container{
    margin:0 auto;
    width: 79%;
    max-width: 794px;
    padding: 0 var(--unit);
}

.row{
    --col-01: calc(100% * 1 / var(--cols, 12));
    --col-02: calc(100% * 2 / var(--cols, 12));
    --col-03: calc(100% * 3 / var(--cols, 12));
    --col-04: calc(100% * 4 / var(--cols, 12));
    --col-05: calc(100% * 5 / var(--cols, 12));
    --col-06: calc(100% * 6 / var(--cols, 12));
    --col-07: calc(100% * 7 / var(--cols, 12));
    --col-08: calc(100% * 8 / var(--cols, 12));
    --col-09: calc(100% * 9 / var(--cols, 12));
    --col-10: calc(100% * 10 / var(--cols, 12));
    --col-11: calc(100% * 11 / var(--cols, 12));
    --col-12: calc(100% * 12 / var(--cols, 12));
    
    display:flex;
    flex-wrap: wrap;
}



.col{
    flex: 1 1 auto;
    margin: 0 auto;
}

.col, 
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12{
    padding: var(--unit);
    box-sizing: border-box;
}

.col-1{
    flex: 0 0 var(--col-01);
}
.col-2{
    flex: 0 0 var(--col-02);
}
.col-3{
    flex: 0 0 var(--col-03);
}
.col-4{
    flex: 0 0 var(--col-04);
}
.col-5{
    flex: 0 0 var(--col-05);
}
.col-6{
    flex: 0 0 var(--col-06);
}
.col-7{
    flex: 0 0 var(--col-07);
}
.col-8{
    flex: 0 0 var(--col-08);
}
.col-9{
    flex: 0 0 var(--col-09);
}
.col-10{
    flex: 0 0 var(--col-10);
}
.col-11{
    flex: 0 0 var(--col-11);
}
.col-12{
    flex: 0 0 var(--col-12);
}

@media  (max-width: 414px){
    .container{
        margin:0 auto;
        width: 96%;
        max-width: 414px;
        padding: 0 var(--unit-klein); 
    }
    .col-sm-1{
        flex: 0 0 var(--col-01);
    }
    .col-sm-2{
        flex: 0 0 var(--col-02);
    }
    .col-sm-3{
        flex: 0 0 var(--col-03);
    }
    .col-sm-4{
        flex: 0 0 var(--col-04);
    }
    .col-sm-5{
        flex: 0 0 var(--col-05);
    }
    .col-sm-6{
        flex: 0 0 var(--col-06);
    }
    .col-sm-7{
        flex: 0 0 var(--col-07);
    }
    .col-sm-8{
        flex: 0 0 var(--col-08);
    }
    .col-sm-9{
        flex: 0 0 var(--col-09);
    }
    .col-sm-10{
        flex: 0 0 var(--col-10);
    }
    .col-sm-11{
        flex: 0 0 var(--col-11);
    }
    .col-sm-12{
        flex: 0 0 var(--col-12);
    }
}